nav a:link{
    color: red;
}
nav a:visited{
    color: blue;
}
nav a:hover{

    color:yellow
}
nav a:nth-child(even){
    background-color: black;
    color:white
}

#trece{
    background-color: orange;
}
ul li a:hover{
    background-color: red;
    text-decoration: none;
}
*{
font-size: 2em;
}
form:disabled{
background-color: gray;
}
form:first-child{
    background-color: yellow;
}
ul li:hover{
    font-size: larger;
}
